@page "/cadastro"
@using Agenda
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Cadastro de contato</PageTitle>

<div class="container">
    <header class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bolder">Cadastro</h2>
        <NavLink href="/" class="btn btn-secondary">Voltar</NavLink>
    </header>
    <form @onsubmit="AdicionarContato" class="shadow p-3 mb-5 bg-white rounded-3">
        <div class="d-flex flex-column mb-3">
            <label class="fw-bold" for="name">Nome:</label>
            <input class="form-control rounded-3" type="text" id="name" @bind="nome" required>
        </div>
        <div class="d-flex flex-column mb-3">
            <label class="fw-bold" for="email">E-mail:</label>
            <input class="form-control rounded-3" type="email" id="email" @bind="email" required>
        </div>
        <div class="d-flex flex-column mb-3">
            <label class="fw-bold" for="telefone">Telefone:</label>
            <input class="form-control rounded-3" type="text" id="telefone" @bind="telefone" required>
        </div>
        <button class="btn btn-success">Adicionar Contato</button>
    </form>
</div>

@code {
    public string? nome { get; set; }
    public string? email { get; set; }
    public string? telefone { get; set; }

    public int Id;
    private void AdicionarContato()
    {   
        ContatosManager.Contatos.Add(new Contato
            {
                Nome = nome!,
                Email = email!,
                Telefone = telefone!
            });

        nome = "";
        email = "";
        telefone = "";

        NavigationManager.NavigateTo("/");
    }
}
